
h1 {
  color: purple;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.add-and-filter-container {
  
}

.form-container {
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
}

input[type=text] {
  width: 100%;
  padding: 100%;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;

}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;

}

input[type=radio] {

}
